
// Please do not change the order of the numbered sections!
// The expected order is: 1. Parameters - 2. Profiles - 3. Process -  4. Executor

// There is a high chance it would break the configuration of 'profiles'

// 1. Parameters

// NOTE:
// Initialise the values of the params to the preferred default value or to false

params {
    // generic
    help = false

    // from lifebit template
    echo = false
    cpus = false
    memory = false
    maxRetries = false
    maxForks = false
    container = false
    errorStrategy = false
    executor = false
    queueSize = false

    // shared (not output)
    genomefa = "$baseDir/genome.fa"
    badloci = "$baseDir/badloci.bed.gz"
    exclude = false
    excludeFile = 'NO_FILE'

    // output locations
    outdir = "$PWD/results"
    reportDir = "${params.outdir}/reports"

    // pindel_pl specific
    tumour  = null
    normal  = null
    simrep  = null
    filter  = null
    genes  = null
    unmatched  = null
    seqtype  = 'WGS'
    assembly  = false
    species  = false
    skipgerm  = null
    softfil  = false
    apid  = false

    // resource
    max_cpus = 6
    max_memory = 48
    max_time = 18
}

// 2. Profiles

// Do not update the order because the values set in params scope will not be overwritten
// Do not attempt to simplify to
// includeConfig params.config
// outside of profiles scope, it will fail to update the values of the params
profiles {
    standard {includeConfig params.config}
    docker {includeConfig 'conf/docker.config'}
    singularity {includeConfig 'conf/singularity.config'}
    slurm {includeConfig 'conf/slurm.config'}
    base {includeConfig 'conf/base.config'}
    //google {includeConfig 'conf/google.config'}
    test {includeConfig 'conf/test.config'}
    local {includeConfig 'conf/test.config'}
}

// 3. Process

// Do not change order of block, must follow after profiles scope (last section that updates params)
process {
    echo = params.echo
    cpus = params.cpus
    memory = params.memory
    maxRetries = params.maxRetries
    maxForks = params.maxForks
    container = params.container
    errorStrategy = params.errorStrategy

    withName: 'pindel_pl' {
        disk = '100.GB'
        cpus = $params.max_cpus
        memory = "${params.max_memory}.GB"
        time = "${params.max_time}h"
    }
    withName: 'pindel_flag' {
        disk = '10.GB'
        cpus = 1
        memory = '4.GB'
        time = "2h"
    }
}

// 4. Executor - Do not remove this section! Required for running with different executors using --executor parameter

executor {
    name = params.executor
    queueSize = params.queueSize
}
